PORT=3000
CORS_ORIGIN=http://localhost:3000
DB_DRIVER=mongo
MONGO_URI=YOUR_MONGO_URI
JWT_SECRET=your-development-secret
JWT_EXPIRES_IN=15m
REFRESH_SECRET=another-long-random-secret //generate with openssl rand -hex/base64 32/64/128
REFRESH_EXPIRES_IN=7d
AUTH_STRATEGY=jwt / jwt-refresh
ACCESS_TOKEN_TRANSPORT=bearer / cookie
FILE_STORAGE_PROVIDER=local / cloudinary / s3 
CACHE_PROVIDER=memory / redis
SOCKET_PROVIDER=socketio / ws
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0
NOTIFICATION_PROVIDER=smtp / resend
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=noreply@nodestarter.local \ onboarding@resend.dev for resend
RESEND_API_KEY=YOUR_RESEND_API_KEY