PORT=3000
DB_DRIVER=mongo
MONGO_URI=YOUR_MONGO_URI
JWT_SECRET=your-development-secret
JWT_EXPIRES_IN=15m
REFRESH_SECRET=another-long-random-secret //generate with openssl rand -hex/base64 32/64/128
REFRESH_EXPIRES_IN=7d
AUTH_STRATEGY=jwt / jwt-refresh